# Ignore Scarb build artifacts for hello_world
hello_world/target

# Ignore Scarb build artifacts for variables
variables/target/

# Ignore Scarb build artifacts for shadowing
shadowing/target/

# Ignore Scarb build artifacts for data_types
data_types/target/
